<?xml version="1.0" encoding="utf-8"?>
<launch>
    <node pkg="tf" type="static_transform_publisher" name="world_map_linker" args="0 0 0 0 0 0 world map 100" />
    <node pkg="tf" type="static_transform_publisher" name="tf_camera" args="0.1 0 0.0 -1.57 0 -1.57 base_link iris_0/depth_camera_base 100"/>

	<node pkg="control" type="control" name="control" output="screen"></node>
</launch>
